.card {
  display: grid;
  grid-template-columns: 1fr 70px;
  background-color: hsl(var(--card-clr-light));
  padding: 1rem 1.25rem;
  border-radius: 8px;
}

.card .item-value {
  display: flex;
  flex-direction: column;
}
.item-value small {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.875rem;
  opacity: 0.75;
}
.item-value strong {
  font-weight: bold;
  font-size: 3rem;
}

.card .card-img {
  justify-self: end;
}

.card .card-img > img {
  height: 25px;
}

.card > small {
  grid-column: 1/3;
  display: flex;
  gap: 0.15rem;
  justify-content: end;
  align-items: center;
  opacity: 0.75;
}

.card > small span {
  font-weight: bold;
}

.card small img {
  height: 15px;
}
