header {
  margin-top: 3rem;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  background: transparent;
  border: none;
  width: 35px;
  cursor: pointer;
}

nav a:focus-visible {
  outline: 1px solid black;
}
